@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #00020D;
  --background-gr: linear-gradient(96.34deg, #4B86FC 0%, #75F2F6 26.45%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-DmSanse: var(--font-DmSanse);
  --bg-linear-gradient: var(--background-gr);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00020D;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .bg-gradient {
    @apply bg-[url(https://res.cloudinary.com/durcctmhu/image/upload/v1763574390/a57b3849d7bbaf2595529a8aa0ea319df961c344_q2nkzi.jpg)] h-auto w-full  bg-no-repeat bg-cover bg-center   ;
  }
 .bg-gradient-card{
@apply  h-[756px] w-full rounded-xl max-w-[560px] bg-no-repeat bg-cover bg-center
  }
  .Infoform{
    @apply max-w-[804px] items-center w-full mx-auto grid grid-cols-1 px-6 lg:px-0 md:gap-5 lg:gap-0  md:grid-cols-2 justify-center md:justify-between
  }
  .inputLabel{
    @apply font-DmSanse font-bold text-base md:text-lg leading-[25px] tracking-[0.9px] uppercase block
  }
  .infoInput{
    @apply  max-w-[364px] w-full rounded-[13px] py-[20.5px] px-[25px] mt-3
  }
}

.text-gradiant{
  background-image: linear-gradient(96.34deg, #4B86FC 0%, #75F2F6 26.45%);
  font-weight: 700;
}
.text-gradiants{
  background-image: linear-gradient(95.16deg, #4B86FC -75.89%, #75F2F6 155.97%);
}

.standerdGradient{
background: linear-gradient(96.86deg, #4B86FC -71.87%, #75F2F6 91.18%);
} 
.numberGradient{
  background-image: linear-gradient(95.16deg, #4B86FC -75.89%, #75F2F6 155.97%);
}
.businessGrad{
  background-image: linear-gradient(96.95deg, #FFFFFF -130.13%, #E5E5E5 116.23%);
}
.card2{
  
  -webkit-backdrop-filter: blur(19.5px);
  backdrop-filter: blur(19.5px);
  clip-path: url(#bgblur_0_0_25522_clip_path);
  height: 100%;
  width: 100%;
      
    
}
.card2Gradiant{
  background-image: linear-gradient(96.95deg, #4B86FC -130.13%, #75F2F6 116.23%);
}

.reviewCardGradient{
  background-image: linear-gradient(144.39deg, rgba(255, 255, 255, 0.4) -278.56%, rgba(109, 109, 109, 0.4) -78.47%, rgba(17, 16, 29, 0.4) 91.61%);
}
.inputGradient{
  background-image: linear-gradient(144.39deg, rgba(255, 255, 255, 0.4) -278.56%, rgba(109, 109, 109, 0.4) -78.47%, rgba(17, 16, 29, 0.4) 91.61%);
}

.formGradient{
  background-image: linear-gradient(0deg, #F3F3F3, #F3F3F3),
      linear-gradient(0deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01));
}

.borderGradient{
    background-image: linear-gradient(102.96deg, #42A3FF -17.91%, #75F2F6 68.15%);
}